.demo{
    display: flex;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content: center;
}
.demo > div{
    padding:20px;
    width: 50%;
}
.demo p{
    font-size: 16px;
    text-align: center;
}
.window{
    margin: 0 auto;
}
.content{
    background: #77a4fb;
    padding:16px;
    margin: 0 auto;
}

.content.em{
    padding:1em;
}